<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="lead"><%= user.username %>'s List</p>
            <div class="list-group">
                <% user.list.forEach(function(item) { %>
                    <li class="list-group-item"><%= item.title %></li>
                <% }); %>
            </div>
        </div>
        <div class="col-md-4">
            <p class="lead">Star Score</p>
            <div class="list-group">
                <li class="list-group-item"><%= user.starScore %></li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">Friends</p>
            <div class="list-group">
                <% user.friends.forEach(function(friend) { %>
                    <li class="list-group-item"><%= friend.username %></li>
                <% }); %>
            </div>
        </div>
    </div>
    <% if(currentUser && user._id.equals(currentUser._id)){ %>
        <div class="row">
            <div class="col-md-12">
                <form class="make-inline" action="/user/<%= user._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete Account</button>
                </form> 
            </div>
        </div>
    <% } %>

    
</div>

<% include ../partials/footer %>
